<div class="container">
    <div class="row align-items-start">
        {% for book in site.data.books %}
        <div class="col col-sm-12 col-md-6 col-lg-4 mb-2">
            <div class="card" style="min-width: 18rem;">
                <div class="card-body">
                    {% if book.image %}
                    <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }} book cover">
                    {% endif %}
                    <h5 class="card-title text-center">{{ book.title }}</h5>
                    {% if book.sub-title %}
                    <h6 class="card-subtitle text-center mb-2 text-muted">{{ book.sub-title }}</h6>
                    {% endif %}
                    {% if book.description %}
                    <p class="card-text">{{ book.description }}</p>
                    {% endif %}
                    <div class="text-center">
                        {% if book.link %}
                            {% include bootstrap-button.html type="primary" text="Get On Amazon" link=book.link new-window=true %}
                        {% endif %}
                        {% if book.review-link %}
                            {% include bootstrap-button.html type="warning" text="My Review" link=book.review-link new-window=true %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>