<h1>{{ site.title }} Blog Posts</h1>
    {% for post in paginator.posts %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="author">
      <span class="date">{{ post.date }}</span>
    </p>
    <div class="content">
      {{ post.excerpt }}
    </div>
  {% endfor %}

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="btn btn-primary">Previous</a>
    {% else %}
      <span class="btn btn-primary disabled">Previous</span>
    {% endif %}
    <span class="page_number ">
      <h3>&nbsp;Page: {{ paginator.page }} of {{ paginator.total_pages }}&nbsp;</h3>
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-primary">Next</a>
    {% else %}
      <span class="btn btn-primary disabled">Next</span>
    {% endif %}
  </div>