<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{'/assets/vendor/bootstrap/css/bootstrap.min.css' | prepend: site.baseurl}}">
    <script src="{{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | prepend: site.base.url}}"></script>
    <link rel="stylesheet" href="{{'/assets/css/style.css' | prepend: site.base.url}}">
  </head>
  <body>
    <div id="header">
        <div id="site-headings">
          <h1 id="site-title">{{site.title}}</h1>
          <h2 id="site-subtitle">{{site.subtitle}}</h2>
        </div>
    </div>
    <div id="navigation">
      {% include navigation.html %}
    </div>
    &nbsp;
    {{ content }}

    <div id="footer">
      <p>Copyright &copy; <span id="year"></span> Anthony Irwin, All Rights Reserved<br>ABN: 12 522 502 130</p>
    </div>
  </body>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
</html>