<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% seo %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{'/assets/css/style.css' | prepend: site.base.url}}">
  </head>
  <body>
    <a name="top"></a>
    <div id="header">
        <div id="site-headings">
          <h1 id="site-title">{{site.title}}</h1>
          <h2 id="site-subtitle">{{site.subtitle}}</h2>
        </div>
    </div>
    <div id="navigation">
      {% include navigation.html %}
    </div>
    &nbsp;
    {{ content }}
    {% include go-to-top-button.html %}
    <div id="footer" class="container-fluid">
      <p>Copyright &copy; <span id="year"></span> Anthony Irwin, All Rights Reserved<br>ABN: 12 522 502 130</p>
    </div>
  </body>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
</html>