---
layout: default
---
<div class="m-2">
    <h2>Van Life Documentary</h2>
    {% include youtube-player.html id="Lg37Cbx-kak" title="Without Bound Perspectives On Van Life Living A Van Life Documentary" %} 
    {% include go-to-blog-posts-button.html %}
    <div class="youtube-channels">
        <h2>Useful Van Life Websites and YouTube Channels</h2>
        {% include resource-cards.html %}
        {% include go-to-blog-posts-button.html %}
    </div> 
    <div class="book-list">
        <h2>Books About Van Life and Alternative Life Styles</h2>
        {% include book-cards.html %}
    </div> 
</div> 
<article>
    {{ content }}
</article>